html,body{
    position: relative;
    margin: 0;
    padding:0;
    overflow: hidden;
    height: 100vh;
    width:100vw;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/dashboardpagebg.jpg) no-repeat center / cover;
    opacity: 0.6;
    z-index: -1; 
}
.header{
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    width:30rem;
    color: black;
}
strong{
    margin-left:1rem ;
    color: rgb(255, 108, 64);   
    font-size: 2rem;
}
.nav-bar{
    height: 5rem;
    width: 100%;
    background: linear-gradient(to right, chocolate, brown);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.rounded-icon{
    margin-right:2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border:none;
}
.title-and-category{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1rem;
    height: 3rem;
    width: 10rem;
    font-weight: bold;
    font-size: medium;
    color: white;
    gap:0.24rem;
}
.income-related-information{
    position: relative;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    width:60rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inside-income-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 9rem;
    transition: transform 0.2s ease-in;
    cursor:default;
    background:linear-gradient(to bottom, #e0057e , chocolate );
    border-radius: 8px;
}
.inside-income-info-box:hover{
    transform: scale(1.06) translateY(-10px);

}
.current-month-span{
    color: white;
    font-size: medium;
    font-weight: bold;
}
.main-page-content-name{
    color: black;
    font-weight: bold;
    font-size: large;
}
.expense-and-transaction-button-container{
    position: relative;
    padding:1rem;
    margin-left:1rem;
    top:3rem;
    height: 5rem;
    width:90rem;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
}
.add-expense-button{
    text-transform: uppercase;
    background: linear-gradient(to bottom, gray, darkgray);
    font-weight: bold;
    font-size: medium;
    color: white;
    border: none;
    height: 3.5rem;
    width:14rem;
    cursor: pointer;
    transition: transform 0.2s ease-in, border-radius 0.2s ease-in, background-color 0.2s ease-in, color 0.2s ease-in;
}
.add-expense-button:hover{
    background: linear-gradient(to bottom, darkgray, gray);
    color: white;
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px rgba(0,0,0);
}
.add-expense-button:active{
    transform: translateY(0) scale(0.94);
    box-shadow: 5px 10px 10px rgba(0,0,0);
    border-radius: 10px;

}
.profile-picture{
    height: inherit;
    width: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    border:none;
}
.user-icon{
    height: inherit;
    width: inherit;
    border-radius: inherit;
}
.side-bar {
    position: absolute;
    z-index: 1;
    top: 4rem;
    right: 0.25rem;
    height: 25rem;
    width: 22rem;
    background-color: lightgoldenrodyellow;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-20px); 
    pointer-events: none;
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}
.side-bar.active {
    opacity: 1;
    transform: translateY(0); 
    pointer-events: auto;
}
.disappear{
    opacity: 0;
    transform: translateY(-20px); 
    pointer-events: none;
}
.side-bar-container{
    padding-top:1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    height: 28rem;
    width:24rem; 
}
.side-bar-link{
    padding-top:1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    height: 2rem;
    width:23rem;
    transition: 0.4s ease-in;
    cursor: pointer;
}
.side-bar-link:hover{
transform: scale(1.01);
color: blue;
}
.side-bar-icon{
    text-align: center;
    height: 2rem;
    width:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-span-links{
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    transition: 0.4s ease-in;
}
.str{
    color: red;
    font-size: medium;
}
.add-expense-income{
    position: absolute;
    padding: 0.75rem;
    bottom: 4rem;
    height: 35rem;
    width:50rem;
    justify-self: center;
    background: url(./images/userprofilebg.png) top /cover;
    border-radius: 1.58rem;
    display: none; /*needs to change*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.view-transaction-history-container{
    height: 18rem;
    width: 90rem;
    justify-self: center;
    position: relative;
    top: 5rem;
    background: rgba(255, 255,255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    border-radius: 0.54rem;
}

th{
    border:1px solid black;
    height: 2rem;
    width:20rem;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to bottom, rgb(252, 93, 120), rgb(255, 129, 255));
}
td{
    border:1px solid black;
    height: 2rem;
    width:20rem;
    text-align: center;
    text-transform: uppercase;
    background-color: antiquewhite;
}
.table-container{
    position: relative;
    top:1rem;
    height: 10rem;
    width: 85rem;
    overflow: hidden;
}
.view-more-btn{
    cursor: pointer;
    height: 2rem;
    width: 8rem;
    background: linear-gradient(to right, chocolate, brown);
    border: none;
    color: white;
    font-size: medium;
    font-weight: bold;
    transition: transform 0.2s ease-in;
}
.view-more-btn:hover{
    transform: translateY(-5px);
}
.view-more-btn:active{
    transform: translateY(0) scale(0.98);
}
.view-more-transaction-button-container{
    position: relative;
    top:2rem;
    height: 3rem;
    width:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction-history-button{    
    text-transform: uppercase;
    background: linear-gradient(to bottom, gray, darkgray);
    font-weight: bold;
    font-size: medium;
    color: white;
    border: none;
    height: 3.5rem;
    width:14rem;
    cursor: pointer;
    transition: transform 0.2s ease-in, border-radius 0.2s ease-in, background-color 0.2s ease-in, color 0.2s ease-in;
}
.transaction-history-button:hover{
    background: linear-gradient(to bottom, darkgray, gray);
    color: white;
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px rgba(0,0,0);
}
.transaction-history-button:active{
    transform: translateY(0) scale(0.94);
    box-shadow: 5px 10px 10px rgba(0,0,0);
    border-radius: 10px;
}
::-webkit-scrollbar{
    width:0px;
}
.user-details-header{
    height: 2rem;
    width:20rem;
    text-align: center;
    color: white;
}
.user-general-details-container{
    border:none;
}
.user-input-fields{
    height: 40rem;
    width: 50rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}
.label-with-input{
    position: relative;
    height: 2.75rem;
    width:48rem;
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.label-with-input-single{
    position: relative;
    top:1rem;
    height: 4rem;
    width:40rem;
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
.label-input-combo{
    height: 2.25rem;
    width:23rem;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}
label{
    position: relative;
    top:0.25rem;
    height: 2rem;
    width:7rem;
    font-weight: bold;
    font-size: small;
    text-transform: capitalize;
    color: white;
    font-family: sans-serif;
}
input{
    padding-left:0.45rem;
    height: 1.75rem;
    width: 12rem;
    border: 1px solid grey;
    outline: 1px solid grey;
}
.employee-input{
    padding-left:0.45rem;
    height: 1.75rem;
    width: 12rem;
    border: 1px solid grey;
    outline: 1px solid grey;
}
.business-input{
    padding-left:0.45rem;
    height: 1.75rem;
    width: 12rem;
    border: 1px solid grey;
    outline: 1px solid grey;
}
.freelance-input{
    padding-left:0.45rem;
    height: 1.75rem;
    width: 12rem;
    border: 1px solid grey;
    outline: 1px solid grey;
}
.label-input-single{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
}
.custom-label{
    font-size: small;
    text-align: center;
    height: 2.25rem;
    width: 20rem;
}
select{
    height: 1.75rem;
    width: 12rem;
    border: 1px solid grey;
    outline: 1px solid grey;
    text-transform: uppercase;
    cursor: pointer;
}
option{
    text-transform: uppercase;
    color: black;    
}
.pointer{
    cursor: pointer;
}
input:read-only{
    cursor:not-allowed;
    opacity: 0.75;
}
.employee-is-a-primary-source{
    position: relative;
    top:1rem;
    height: 22rem;
    width:48rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
}
.business-is-a-primary-source{
    position: relative;
    top:1rem;
    padding-top:1rem;
    height: 22rem;
    width:48rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    overflow: scroll;
}
.freelance-is-a-primary-source{
    position: relative;
    top:1rem;
    padding-top:1rem;
    height: 22rem;
    width:48rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    overflow: scroll;
}
.employee-info-block{
    position: relative;
    top:1rem;
    height:3rem;
    width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.employee-label-with-input{
    width: 28rem;
    height: 2rem;
    display: flex;
    padding-left:1rem;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;
}
.employee-label{
    position: relative;
    font-size: medium;
    width:9rem;
    height: 1rem;
    color: white;
    padding-bottom: 0.67rem;
}
.business-with-input-label-combo{
    position: relative;
    height: 3rem;
    width:46rem;
    gap:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.business-userinputs{
    height: 2rem;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:1rem;
}
.business-label{
    position: relative;
    padding-bottom: 0.56rem;
    font-size: small;
    height: 1.25rem;
    width:12rem;
}
.save-btn-container{
    position: relative;
    top:1rem;
    height: 4rem;
    width:48rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.savebtn{
    height: 2rem;
    width: 6rem;
    color: white;
    font-weight: bolder;
    font-size: large;
    background-color: chocolate;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
}
.freelance-label-input-combo{
    height: 3rem;
    width:46rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.freelance-userinputs{
    height: 2rem;
    width:22rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.freelance-label{
    font-size: small;
    height: 1.75rem;
    width: 9rem;
}
